body {
    background-color: black;
    overflow:hidden;
    margin:0;
    padding:0;
}
canvas {
    position:absolute;
    z-index: -1;
    border:1px solid white;
}
p {
    position:fixed;
    left:auto;
    width:25%;
    border: 1px solid white;
    color:white;
}